* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-menu {
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#main {
    margin-top: 50px;
    padding: 20px;
}

.section-div {
    height: 50px;
}

.home-img {
    width: 100px;
}